<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="container">
  <h2 class="h2">Formulario Estados</h2>
  <form class="example-form" #formestado="ngForm" [formGroup]="changePasswordForm">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Estado Impresora</mat-label>
      <input
        type="text"
        matInput
        formControlName="estado"
        placeholder=""
        [(ngModel)]="estado.estadoimpresora"
        name="estadoimpresora"
        onkeydown="return /[a-z, ]/i.test(event.key)"
      />
      <small *ngIf="changePasswordForm.get('estado').hasError('required')">Requerido!</small>
      <small *ngIf="changePasswordForm.get('estado').hasError('minlength')">Minimo 3</small>

    </mat-form-field>

    <div class="form-group row">
      <div class="col-sm-6">
        <button
          mat-raised-button
          color="primary"
          role="button"
          (click)="create()"
          *ngIf="!estado.id; else elseBlock"
          [disabled]="!formestado.form.valid"
        >
          Crear
        </button>
        <ng-template #elseBlock>
          <button
            mat-raised-button
            color="primary"
            role="button"
            (click)="update()"
            [disabled]="!formestado.form.valid"
          >
            Editar
          </button>
        </ng-template>
        <button
          class="float-right"
          mat-raised-button
          color="warn"
          role="button"
          [routerLink]="['/estados']"
        >
          Volver
        </button>
      </div>
    </div>
  </form>
</div>
