<ul class="alert alert-danger" *ngIf="errores?.length>0">
  <li *ngFor="let err of errores">
  {{err}}
</li>
</ul>
<div class="container">
  <h2 class="h2">Formulario Marcas</h2>
  <form class="example-form" #formmarca="ngForm" >
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nombre Marca</mat-label>
      <input type="text" matInput [formControl]="nombremarca" placeholder=""  [(ngModel)]="marca.nombre" name="nombre"
     >
      <mat-error *ngIf="nombremarca.hasError('required')">
        Marca es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <div class="form-group row">
      <div class="col-sm-6">
        <button mat-raised-button color="primary" role="button" (click)="create()" *ngIf="!marca.id; else elseBlock"
          [disabled]="!formmarca.form.valid">
          Crear
        </button>
        <ng-template #elseBlock>
          <button mat-raised-button color="primary" role="button" (click)="update()" [disabled]="!formmarca.form.valid">
            Editar
          </button>
        </ng-template>
        <button class="float-right" mat-raised-button color="warn" role="button" [routerLink]="['/marcas']">
          Volver
        </button>
      </div>
    </div>
  </form>

</div>




