<!-- <div>
  <label for="Marcas">Marca</label>
  <select [(ngModel)]="marcaElegida">
    <option [ngValue]="null">Elige marca</option>
    <option *ngFor="let marca of marcas" [ngValue]="marca">
      {{marca.nombre}}
    </option>
  </select>
</div>
<br>
<br>
<div *ngIf="marcaElegida">
  <label for="Modelo">Modelo</label>
  <select>
    <option [ngValue]="null">Elige modelo</option>
    <option *ngFor="let modelo of marcaElegida.modelos" [ngValue]="modelo">{{modelo.modelo}}</option>
  </select>
</div> -->

<style>
  @media (max-width: 768px) {
    .specifictd {
      min-width: 650px; /* adjust to desired wrapping */
      display: table;
      word-wrap: break-word;
    }
  }
</style>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="my-2 text-left">
        <button
          *ngIf="authservice.hasRole('ROLE_USER')"
          class="btn btn-rounded btn-primary"
          type="button"
          [routerLink]="['/marcas/form']"
        >
          Crear Registro
        </button>

      </div>
      <div class="table-responsive">
        <div *ngIf="marcas?.length == 0" class="alert alert-info">
          No hay registros en la base de datos
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Buscar.."
          [(ngModel)]="filterpost"
          name="filterpost"
        />
        <table class="table" *ngIf="marcas?.length > 0">
          <thead>
            <tr>
              <th>id</th>
              <th>Marca</th>
              <th *ngIf="authservice.hasRole('ROLE_ADMIN')">Editar</th>
              <th *ngIf="authservice.hasRole('ROLE_ADMIN')">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let marca of marcas | filter: filterpost">
              <td>{{ marca.id }}</td>
              <td>{{ marca.nombre }}</td>

              <td *ngIf="authservice.hasRole('ROLE_ADMIN')">
                <button class="btn" [routerLink]="['/marcas/form', marca.id]">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
              <td *ngIf="authservice.hasRole('ROLE_ADMIN')">
                <button class="btn" name="eliminar" (click)="delete(marca)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-progress></ng-progress>
