<style>

    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
    table {
      width: 100%;
    }

</style>

<button *ngIf="authservice.hasRole('ROLE_USER')" mat-raised-button color="primary" [routerLink]="['/incidencias/form']">
    Crear Registro
</button>

<mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="INCIDENCIA" #input />
</mat-form-field>
<div class="mat-elevation-z1">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef >Action</th>
        <td mat-cell *matCellDef="let incidencia" class="left-text">
          <button class="btn" [routerLink]="['/incidencias/form', incidencia.id]">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
          <button class="btn" name="eliminar" (click)="delete(incidencia)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </ng-container>
    
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let incidencia"> {{ incidencia.id }} </td>
    </ng-container>
    <ng-container matColumnDef="numeroserie">
      <th mat-header-cell *matHeaderCellDef>Numero de serie</th>
      <td mat-cell *matCellDef="let incidencia"> {{ incidencia.impresora.numeroserie }} </td>
    </ng-container>
    <ng-container matColumnDef="Area">
      <th mat-header-cell *matHeaderCellDef>Area</th>
      <td mat-cell *matCellDef="let incidencia"> {{ incidencia.impresora.area.nombrearea }} </td>
    </ng-container>
    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let incidencia"> {{ incidencia.impresora.estado.estadoimpresora }} </td>
    </ng-container>
    <ng-container matColumnDef="Marca">
      <th mat-header-cell *matHeaderCellDef>Marca</th>
      <td mat-cell *matCellDef="let incidencia"> {{ incidencia.impresora.marca.nombre }} </td>
    </ng-container>
    <ng-container matColumnDef="Modelo">
      <th mat-header-cell *matHeaderCellDef>Modelo</th>
      <td mat-cell *matCellDef="let incidencia"> {{ incidencia.impresora.modelo.modelo }} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <ng-container matColumnDef="Observaciones">
        <th mat-header-cell *matHeaderCellDef >Observaciones</th>
        <td mat-cell *matCellDef="let incidencia" class="left-text">
          <button class="btn" [routerLink]="['/obs_incidencias/form', incidencia.id]">
            <i class="fa-solid fa-eye"></i>
          </button>
        </td>
    </ng-container>
  
  </table>




<mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<ng-progress></ng-progress>
<notifier-container></notifier-container>