<style >
  @media (max-width: 768px) {
  .specifictd {
    min-width: 650px; /* adjust to desired wrapping */
    display: table;
    word-wrap: break-word;
  }
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">


  <div class="row">
    <div class="col-12">
      <div class="my-2 text-left">

        <button *ngIf="authservice.hasRole('ROLE_USER')"    class="btn btn-rounded btn-primary" type="button" [routerLink]="['/urgencias/form']">
          Crear Registro
        </button>
          <button *ngIf="authservice.hasRole('ROLE_ADMIN')"  class="btn btn-rounded btn-info float-right" type="button" name="button" (click)='export()' >EXCEL</button>

      </div>
      <div class="table-responsive">
        <div  *ngIf="urgencias?.length == 0" class="alert alert-info">
          No hay registros en la base de datos
        </div>
        <input
        type="text"
        class="form-control"
        placeholder="Buscar.."
        [(ngModel)]="filterpost"
        name="filterpost"
      />
        <table class="table" *ngIf="urgencias?.length>0">
          <thead>
            <tr>


              <th>id</th>
              <th>Paciente</th>
              <th>Acompañante</th>
              <th>Fecha Ingreso</th>
              <th>Observacion</th>
              <th>Tiempo Espera</th>
              <th  *ngIf="authservice.hasRole('ROLE_ADMIN')">
                Editar
              </th>
              <th  *ngIf="authservice.hasRole('ROLE_ADMIN')">
                Eliminar
              </th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let urgencia of urgencias | filter: filterpost">
              <td>{{ urgencia.id }}</td>
              <td>{{ urgencia.nombrepaciente }}</td>
              <td>{{ urgencia.nombreacompanante }}</td>
              <td>{{urgencia.fechaingreso }}</td>
              <td>{{ urgencia.observacion }}</td>
              <td>{{ urgencia.horaespera }}</td>
              <td  *ngIf="authservice.hasRole('ROLE_ADMIN')">
                <button class="btn" [routerLink]="['/urgencias/form',urgencia.id]"><i class="fa fa-edit"></i></button>
              </td>

              <td *ngIf="authservice.hasRole('ROLE_ADMIN')">
                <button class="btn" name="eliminar" (click)='delete(urgencia)'><i class="fa fa-trash"></i></button>
              </td>

            </tr>



          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
